/*!*******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/sun-and-moon.css ***!
  \*******************************************************************************/
@import url(https://unpkg.com/open-props/easings.min.css);
/*!***********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/sun-and-moon.css (1) ***!
  \***********************************************************************************/
/*
.sun {
  transition: transform .5s var(--ease-elastic-3);
} */


.app.theme--dark .sun-and-moon {
  & > .sun {
    transform: scale(1.75);
  }

  & > .sun-beams {
    opacity: 0;
  }

  & > .moon > circle {
    transform: translateX(-7px);

    @supports (cx: 1) {
      transform: translateX(0);
      cx: 17;
    }
  }

  & > .sun {
    transform: scale(1.75);
    transition-timing-function: var(--ease-3);
    transition-duration: .25s;
  }

  & > .sun-beams {
    transform: rotateZ(-25deg);
    transition-duration: .15s;
  }

  & > .moon > circle {
    transition-delay: .25s;
    transition-duration: .5s;
  }
}

.sun-and-moon {
  & > :is(.moon, .sun, .sun-beams) {
    transform-origin: center center;
  }

  & > :is(.moon, .sun) {
    fill: var(--icon-fill);

    .theme-toggle:is(:hover, :focus-visible)  & {
      fill: var(--icon-fill-hover);
    }
  }

  & > .sun-beams {
    stroke: var(--icon-fill);
    stroke-width: 2px;

    .theme-toggle:is(:hover, :focus-visible) & {
      stroke: var(--icon-fill-hover);
    }
  }

  & > .sun {
    transition: transform .5s var(--ease-elastic-3);
  }

  & > .sun-beams {
    transition:
      transform .5s var(--ease-elastic-4),
      opacity .5s var(--ease-3)
    ;
  }

  & .moon > circle {
    transition: transform .25s var(--ease-out-5);

    @supports (cx: 1) {
      transition: cx .25s var(--ease-out-5);
    }
  }
}
/*!*******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/theme-toggle.css ***!
  \*******************************************************************************/
.app.theme--dark .theme-toggle{
  --icon-fill: rgba(226, 226, 226, 1);
  --icon-fill-hover: rgba(255, 255, 255, 1);
}

.theme-toggle {
  --size: 2rem;
  --icon-fill: rgba(21, 21, 21, 0.9);
  --icon-fill-hover: rgba(21, 21, 21, 0.7);

  background: none;
  border: none;
  padding: 0;

  inline-size: var(--size);
  block-size: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;

  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  outline-offset: 5px;

  & > svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
  }


  @media (hover: none) {
    --size: 48px;
  }
}

/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css ***!
  \*****************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/react-lazy-load-image-component/src/effects/blur.css ***!
  \*********************************************************************************************************************/
.lazy-load-image-background.blur {
  filter: blur(15px);
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: blur(0);
  transition: filter .3s;
}

.lazy-load-image-background.blur > img {
  opacity: 0;
}

.lazy-load-image-background.blur.lazy-load-image-loaded > img {
  opacity: 1;
  transition: opacity .3s;
}

