@import "variables"
@import "mixins"
@import "_color-themes"

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, main, menu, nav, output,
ruby, section, summary, time, mark, audio, video,
input
  font-family: $machina-font

*
  outline: none!important
li
  font-family: "Helvetica", sans-serif
.full-width
    width: 100%
.flex-row
  @include flex()
  flex-direction: row
.flex-col
  @include flex()
  flex-direction: column
.space-between
  @include flex()
  justify-content: space-between !important

.half-width
    width: 50%

span.symbol-font
  font-family: $sora-font !important
  font-size: 0.92em
.main-info
  max-width: 100%
.page
    margin-bottom: 200px
    @media ( max-width: $screen-small-max)
      margin-bottom: 80px
    @media (min-width: $screen-medium-min)
      margin-bottom: 120px
    &-content
      width: $main-content-width-l
      margin: auto
      max-width: 100%
      flex-wrap: wrap
      @media ( max-width: $screen-small-max)
        width: $main-content-width-s
      @media (min-width: $screen-medium-min)
        width: $main-content-width-m
        flex-wrap: nowrap
      @media (min-width: $screen-large-min)
        width: $main-content-width-l
      @media (min-width: $screen-extra-large-min)
        width: $main-content-width-xl
      .bordered-title
        height: 38px
        padding: 6px 20px
        font-style: normal
        font-weight: 800
        font-size: 14px
        line-height: 26px
        text-align: center
        @include themed()
          border: 1px solid getStyle($border-color)
.uppercase
  text-transform: uppercase
.mob-visible
  display: none !important
  @media (max-width: $screen-small-max)
    @include flex_important()
.mob-hidden
  @media (max-width: $screen-small-max)
    display: none !important
.description
  &.medium
    font-size: 20px
    line-height: 28px
  &.white
    @include themed()
        background: getStyle($bg-inverted)
        color: getStyle($text-color-inverted)
svg.icon,
.icon
  &.disabled
    opacity: 0.6
    pointer-events: none
    > *
      pointer-events: none
  &.without-margin
    margin: 0px
  &.without-margin-left
    margin: 0px 0px
    margin-right: $margin-quarter-value
  &.without-margin-right
    margin: 0px 0px
    margin-left: $margin-quarter-value
  &.margin-left-zero
    margin-left: 0px
  
  &.stroke-color,
  &.stroke-fill-color
    path
      stroke: $icon-color !important
      @include themed()
        stroke: getStyle($border-color) !important
    circle
      stroke: $icon-color !important
      @include themed()
        stroke: getStyle($border-color) !important
    rect
      stroke: $icon-color !important
      @include themed()
        stroke: getStyle($border-color) !important
    &.white
      @include colored_stroke_icon(white)
    &.green
      @include colored_stroke_icon($green-meadow)
    &.red
      @include colored_stroke_icon($red-mint)
    &.hover-green
      &:hover
        @include colored_stroke_icon($green-meadow)
    &.hover-red
      &:hover
        @include colored_stroke_icon($red-mint)
  &:not(.without-def-color):not(.stroke-color)
    path
      fill: $icon-color !important
      @include themed()
        fill: getStyle($border-color) !important
    circle
      fill: $icon-color !important
      @include themed()
        fill: getStyle($border-color) !important
    rect
      fill: $icon-color !important
      @include themed()
        fill: getStyle($border-color) !important
    &.white
      @include colored_icon(white)
      @include themed()
        fill: getStyle($border-color-inverted) !important