// size
$margin-big-value: 36px
$margin-value: 24px
$margin-half-value: 12px
$margin-quarter-value: 6px
$margin-icon-value: 8px
$keyword-mark-size: 12px
$btn-small-height: 32px
// icons size
$icon-small-size: 12px
$icon-small-extra-size: 10px
$icon-size: 16px
$icon-medium-size: 20px
$icon-big-size: 35px

// spacing
$padding-big-value: 48px
$padding-value: 24px
$padding-half-value: 12px
$padding-quarter-value: 6px
$half: 50%
$header-height: 84px //52px
$footer-height: 560px

$footer-height-mob: 1161px
$main-content-width-xl: 1512px
$main-content-width-l: 1260px
$main-content-width-m: 960px
$main-content-width-s: 328px
$border-radius: 4px

// font
$machina-font: 'Space Grotesk', 'Helvetica', sans-serif
$sora-font: 'Sora', 'Helvetica', sans-serif
// $machina-font: 'Neue Machina', 'Helvetica', sans-serif

// colors
$dark-primary-color: #151515
$black-color: black
$white-color: white
$bg-color-light: #E2E2E2
$bg-color-night: #151515

// Media breakpoints (2560 1440 1024 360)
$screen-small-min: '360px'
$screen-small-max: '1023px'
$screen-medium-min: '1024px'
$screen-medium-max: '1439px'
$screen-large-min: '1440px'
$screen-large-max: '2559px'
$screen-extra-large-min: '2560px'