@import '../../styles/_color-themes.scss'
@import '../../styles/mixins.sass'

.how-it-works-content
    .main-info
        width: 659px
        @media (min-width: $screen-medium-min)
            width: 627px
            min-width: 627px
        @media (min-width: $screen-large-min)
            margin-left: -10px
        h2
            margin-top: 40px
            margin-bottom: 60px
            @media (max-width: $screen-small-max)
                width: 269px
            @media (min-width: $screen-medium-min)
                width: 400px
        .illustration-part-mob
            margin-right: -10px
            margin-bottom: 40px
            img
                height: 400px
                width: 280px
                margin-left: auto
                margin-right: auto
        .tools-list
            width: 627px
            gap: 48px
            max-width: 100%
            @media (max-width: $screen-small-max)
                gap: 40px
                width: 335px
                max-width: 335px
            .tool-item
                @include flex()
                flex-direction: row
                @media (max-width: $screen-small-max)
                    flex-direction: column
                .logo
                    height: 100px
                    @media (max-width: $screen-small-max)
                        margin-bottom: 20px
                        align-self: baseline
                .tool-description
                    width: 499px
                    max-width: 100%
                    h3
                        margin-bottom: 16px
    .illustration-part
        img
            @media (min-width: $screen-medium-min)
                height: 600px
                width: 420px
                margin-left: -11px
            @media (min-width: $screen-large-min)
                height: 700px
                width: 490px