@import '../../styles/_color-themes.scss'
@import '../../styles/mixins.sass'

.how-it-works-content
    .main-info
        width: 659px
        @media (min-width: $screen-medium-min)
            width: 627px
            min-width: 627px
        @media (min-width: $screen-large-min)
            margin-left: -10px
        h2
            margin-top: 40px
            margin-bottom: 60px
            @media (min-width: $screen-medium-min)
                width: 400px
        .tools-list
            width: 627px
            gap: 48px
            .tool-item
                .logo
                    height: 100px
                .tool-description
                    width: 499px
                    h3
                        margin-bottom: 16px
    .illustration-part
        img
            @media (min-width: $screen-medium-min)
                height: 600px
                width: 420px
                margin-left: -11px
            @media (min-width: $screen-large-min)
                height: 700px
                width: 490px