@import '../../styles/_color-themes.scss'
@import '../../styles/mixins.sass'

.pricing-content
    .top-info
        @media (max-width: $screen-small-max)
            flex-direction: column-reverse
            flex-wrap: wrap
        .illustration-part
            @media (max-width: $screen-small-max)
                @include flex()
                justify-content: center
                margin-top: 40px
            img
                @media (max-width: $screen-small-max)
                    height: 298px
                    width: 280px
                @media (min-width: $screen-medium-min)
                    height: 404px
                    width: 380px
                @media (min-width: $screen-large-min)
                    height: 500px
                    width: 470px
        .main-info
            width: 743px
            align-items: end
            text-align: end
            @media (max-width: $screen-small-max)
                align-items: start
                text-align: start
            h2
                margin-top: 40px
                margin-bottom: 20px
                @media (min-width: $screen-medium-min)
                    width: 396px
                @media (min-width: $screen-large-min)
                    width: 743px
    .price-plans
        margin-top: 60px
        gap: 102px
        justify-content: center
        @include flex()
        flex-direction: row
        max-width: 100%
        @media (max-width: $screen-small-max)
            margin-top: 40px
            flex-direction: column
            align-items: center
            gap: 24px
        @media (min-width: $screen-medium-min)
            gap: 24px
        @media (min-width: $screen-large-min)
            gap: 40px
        .price-plan-item
            width: 436px
            height: 644px
            padding: 40px
            padding-top: 52px
            @include themed()
                border: 1px solid getStyle($border-color)
            @media (max-width: $screen-small-max)
                width: 328px
                max-width: 100%
            @media (min-width: $screen-medium-min)
                padding-left: 20px
                width: 304px
                height: 640px
                padding-right: 15px
            @media (min-width: $screen-large-min)
                width: 400px
                height: 640px
            &.light
                border: none
                background: $white-color
            &.dark
                border: none
                background: $dark-primary-color
                color: $white-color
                .description
                    @media (max-width: $screen-medium-max)
                        width: 140px
                div
                    color: $white-color
                .button
                    color: $dark-primary-color
            .button
                @media (min-width: $screen-medium-min)
                    width: 224px
                    margin-left: 20px
                @media (min-width: $screen-medium-min)
                    width: 100%
                    margin-left: 0px
            .price-block
                height: 77px
                margin-bottom: 20px
                .dollar-sign
                    height: 28px
                    font-style: normal
                    font-weight: 800
                    font-size: 20px
                    line-height: 28px
                .price
                    height: 77px
                    font-style: normal
                    font-weight: 800
                    font-size: 80px
                    line-height: 59px
                    letter-spacing: -2px
                .period
                    height: 28px
                    font-style: normal
                    font-weight: 800
                    font-size: 20px
                    line-height: 28px
                    align-self: flex-end
                    margin-left: 12px
            ul.plan-features-list
                margin-top: 60px
                // padding-left: 29px
                gap: 24px
                // list-style: square
                li
                    list-style: none
                    @include flex()
                    align-items: center
                    line-height: 28px
                    &:before
                        content: "·"
                        font-size: 85px
                        line-height: 28px
                        @include flex()
                        content: "·"
                        font-size: 85px
                        line-height: 26px
                        align-items: center
                        height: 28px
                        margin-right: 14px
                        margin-bottom: -2px