@import '../../styles/_color-themes.scss'
@import '../../styles/mixins.sass'

.footer
    padding: 32px
    height: $footer-height
    // position: absolute
    // bottom: 0px
    justify-content: center
    @include themed()
      background: getStyle($bg-inverted)
      color: getStyle($text-color-inverted)
    &-content
        width: $main-content-width-xl
        @media (min-width: $screen-medium-min)
            width: $main-content-width-m
        @media (min-width: $screen-large-min)
            width: $main-content-width-l
        .main-block
            padding-bottom: 17px
            @media (min-width: $screen-medium-min)
                width: 484px
            .logo-part
                height: 52px
            .info.big
                height: 120px
                width: 444px
                margin-bottom: 32px
                margin-top: 40px
                font-style: normal
                font-weight: 400
                font-size: 52px
                line-height: 60px
                letter-spacing: -4px
                @include themed()
                    color: getStyle($text-color-inverted)
                .btn-subscribe
                    position: absolute
                    right: 0px
                    border: 1px solid $white-color
                    height: 50px
                    margin-top: 1px
        .secondary-block
            width: 696px
            @media (min-width: $screen-medium-min)
                width: 402px
                position: relative
            .info-col
                gap: 24px
                &.email-block
                    @media (min-width: $screen-medium-min)
                        position: absolute
                        right: 36px
                        bottom: 132px
            .email-title
                font-weight: 700
                font-size: 20px
                line-height: 28px
            .icons-panel
                gap: 20px
                justify-content: end