@import "styles/variables"
@import "styles/mixins"
@import "styles/_color-themes"
@import "styles/default"
@import "styles/typography"
@import "styles/elements/buttons"
@import "styles/elements/inputs"

.app
  height: auto
  width: 100%
  &.theme--light
    background: $bg-color-light
  &.theme--dark
    background: $bg-color-night
  &.locked-scroll
    overflow: hidden
    touch-action: none